body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#container {
  /* border: 5px solid black; */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}

#container div {
  margin: 5px;
  /* border: 2px solid darkgray; */
  width: 30%;
  height: 80%;
  cursor: pointer;
  /* position: absolute; */
}
#container div:nth-child(2n + 1) {
  border: 2px solid darkblue;
  background-color: blue;
  transform: translateY(10px);
}
#container div:nth-child(2n + 1):hover {
  background-color: lightblue;
  transform: scale(1.1);
}
#container div:nth-child(2n) {
  border: 2px solid darkred;
  background-color: coral;
  transform: translateY(-10px);
}
#container div:nth-child(2n):hover {
  background-color: lightcoral;
  transform: scale(1.1);
  /* transform: translateX(); */
}
#css1 {
  width: 400px;
  height: 400px;
  padding: 50px;
  border: 2px solid black;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#colorDiv1 {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCss2 {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#css2 {
  width: 320px;
  height: 160px;
  padding: 40px;
  border: 2px solid black;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sizeDiv2 {
  width: auto;
  height: auto;
  font-size: x-large;
  /* border: 2px solid black; */
  border-radius: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fontRange {
  font-size: large;
  position: absolute;
  bottom: 0;
  left: 30%;
}
button {
  cursor: pointer;
  width: 50px;
}
.buttons {
  width: 100%;
  text-align: center;
}
