* {
  box-sizing: border-box;
  word-break: break-all;
}
html {
  width: 100%;
}
body {
  background-color: black;
  color: #ffffff;
  padding: 80px;
  display: flex;
  flex-direction: column;
}
.HomePage-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HomePage-header .header-left {
  text-align: center;
  cursor: pointer;
}
.HomePage-header .header-right {
  align-self: flex-end;
  margin: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
.header-Title > span {
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
  padding: 18px;
  /* border: 2px solid white; */
  border-radius: 18px;
}
.searchBox-area {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.searchBox-area .searchBox-icon {
  height: 48px;
  z-index: 1;
  /* border: 2px solid white;
    border-right: 0; */
}
.searchBox-area .searchBox-input {
  width: 50%;
  color: white;
  font-size: 24px;
  background-color: black;
  border: 0;
  border-bottom: 2px solid white;
  /* padding-left: 4%; */
  height: 48px;
  transition: 0.3s;
}
.searchBox-area .searchBox-input:hover {
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
  /* padding-left: 4%; */
  height: 48px;
  width: 70%;
  transition: 0.3s;
}
/* .content-box {
  width: 100%;
  border-radius: 24px;
  background-color: #ffffff;
  border: 2px solid white;
} */
.index-list {
  height: 40px;
  padding: 8px;
  font-size: 32px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  gap: 12px;
  cursor: pointer;
}
.index-list > li {
  transition: 0.5s;
  /* background-color: white; */
}
.index-list > span {
  font-size: 26px;
  color: gray;
}
.index-list > li:hover {
  /* text-decoration: underline; */
  display: flex;
  flex-direction: column;
  padding: 8px;
  /* color: black; */
  color: indigo;
  background-color: white;
  border-radius: 24px;
  border: 2px double white;
  transition: 0.5s;
}
.index-chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
section.hidden {
  display: none;
  transition: 0.3;
}
/* .index-chart-rank:hover {
  background-color: darkgray;
} */
.index-chart-ranks {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 24px;
  cursor: pointer;
}
.index-chart-rank {
  padding: 20px;
  padding-left: 8px;
  /* margin: 8px; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  gap: 16px;
}
.music-rank {
  display: inline-block;
  padding-right: 8px;
  font-size: 30px;
  font-weight: 900;
}
.music-img {
  border-radius: 16px;
}
.music-title {
  font-size: 30px;
  font-weight: bold;
}
.music-artist {
  color: darkgray;
}
.music-artist:hover {
  text-decoration: underline;
}
.music-icons {
  display: flex;
  align-items: end;
  gap: 16px;
  position: absolute;
  right: 0;
  font-size: 24px;
}
.music-icons > .bx {
  cursor: pointer;
}

.index-artists {
  width: 100%;
  /* width: fit-content; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  cursor: pointer;
}
.artist-img-icon {
  width: 200px;
  height: 230px;
  position: relative;
}
.artist-img {
  position: absolute;
  width: 100%;
  border-radius: 32px;
  top: 0;
}
.artist-img-icon > .bx {
  color: darkgray;
  position: absolute;
  font-size: 32px;
  bottom: 0px;
  right: 0;
}
/* .artist-img-icon > .bx:hover {
  transform: translateY(-32px);
  transition: 0.5s;
} */
.artist-name {
  margin: 0;
  color: darkgray;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.artist-img:hover {
  background-image: linear-gradient(black, white);
}
.artist-name:hover {
  text-decoration: underline;
}
.index-genre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genre-boxes {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.genre-boxes > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 280px;
  height: 280px; */
  width: 240px;
  height: 240px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.genre-title {
  width: 320px;
  height: 320px;
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genre-title:hover {
  transform: scale(1.4);
  transition: 0.3s linear;
  background-color: rgba(76, 0, 130, 0.7);
}
