.index-genre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genre-boxes {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.genre-boxes > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 280px;
  height: 280px; */
  width: 240px;
  height: 240px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.genre-title {
  width: 320px;
  height: 320px;
  background-color: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genre-title:hover {
  transform: scale(1.4);
  transition: 0.3s linear;
  background-color: rgba(76, 0, 130, 0.7);
}
